.list {
    list-style: none;
    padding-left: 0;
}
.salary {
    max-width: 120px;
}
.size-legend {
    font-size: 16px;
}
.bnt-find {
    margin-top: 10px;
}
.page {

    /* Для определения цвета фона страницы */ 
    background-color: #434343; 
    /* Для изменения высоты элемента. 
    По умолчанию высота измеряется исходя из вложенных элементов. 
    Чтобы закрасить фон всего окна браузера мы задали высоту 100% высоты окна браузера 
    vh - view height */ 
    height: 100vh; 
    /* Изменили цвет текста на странице на белый. 
    Предпочтительно пользоваться кодом, а не текстовым обозначением (white) */
    color: #fff;
    /* Изменили шрифт страницы на Arial */
    font-family: 'Arial';
    /* Добавили внутренний отступ страницы от верхней границы на 30 пикселей */ 
    padding-top: 30px;

 }

.box {
    /* Цвет границы - белый */
   border-color: #fff;
   /* Стиль границы - неприрывистая линия */
   border-style: solid;
   /* Ширина границы - 2 пикселя */
   border-width: 2px;
   /* Округление границ - 10 пикселей */
   border-radius: 10px;
   /* Внутренний отступ элементов внутри элемента от границ */
   padding: 10px;
   /* Максимальная ширина блока */
   max-width: 400px;
}