@model Country

<header class="row header">
    <img class="logo" src="~/images/logo.png">
    <h1 class="heading">Мы найдем для вас лучшую страну для проживания</h1>
</header>

@if (@Model != null)
{
    <section class="country-info text-center">
        <h2>Узнайте больше о стране</h2>
        <h5>@Model.Name</h5>
        <p>Население: @Model.Population</p>
        <p>Средняя ЗП: @Model.AverageSalary</p>
    </section>
    
}
else
{
    <p>Мы не смогли найти страну по данным параметрам</p>
}
<a href="@Url.Action("Index", "Home")" class="btn btn-link" >Найти другую страну!</a>