
<a href="~/Home/Index" class="nav-link">Изменить параметры поиска</a>
<section class="box mx-auto text-center">
    <h2>Индия</h2>
    <ul class="list">
        <li>
            <p>Население: 1380230000</p>
        </li>
        <li>
            <p>Средняя зарплата: 88 $</p>
        </li>
    </ul>
</section>