<header class="row">
    <img src="~/images/logo.png" alt="">
    <h1>Рекомендатель стран</h1>
</header>

<section class="col-3 mx-auto text-center">
    <h2>Индия</h2>

    <ul class="list">
        <li>
            <p>Население: 1380230000</p>
        </li>
        <li>
            <p>Средняя зарплата: 88 $</p>
        </li>
    </ul>
</section>