<header class="row header">
    <img class="logo" src="~/images/logo.png">
    <h1 class="heading">Мы найдем для вас лучшую страну для проживания</h1>
</header>
<section class="row text-center" >
        <form class="form text-center" method="post" style="margin:auto" action="~/Home/ChosenCountry">
            <h2 class="subheading">Введите свои предпочтения</h2>

            <div class="form-group">
                <label class="form-check-label" for="salary">Желаемая зарплата в $</label>
                <input class="form-control col-3" id="salary" style="margin:auto" type="number" name="MinSalary">
            </div>

            <div class="form-group">
                <input type="radio" class="form-check-input" name="Size" id="big" value="1" checked>
                <label class="form-check-label" for="big">Большая</label>
            </div>
            <div class="form-group">
                <input type="radio" class="form-check-input" name="Size" id="medium" value="2">
                <label class="form-check-label" for="medium">Средняя</label>
            </div>
            <div class="form-group">
                <input type="radio" class="form-check-input" name="Size" id="small" value="3">
                <label class="form-check-label" for="small">Малая</label>
            </div>

            <div class="form-group">
                <input type="checkbox" class="form-check-input" name="LiveBySea" id="live-by-sea" value="true">
                <label class="form-check-label" for="live-by-sea">хочу жить у моря</label>
            </div>

            <input type="submit" class="btn btn-secondary" value="Найти!">
        </form>
</section>