<form action="#" class="text-center mx-auto box">
    <h2>Введите свои предпочтения</h2>
    <div class="form-group">
        <label for="salary" class="form-check-label">Желаемая зарплата в $</label>
        <input id="salary" type="number" class="form-control salary mx-auto">
    </div>

    <fieldset>
        <legend class="size-legend">Страна должна быть:</legend>
        
        <div class="form-check">
            <label for="big" class="form-check-label">Большая</label>
            <input type="radio" id="big" name="size" checked>
        </div>

        <div class="form-check">
            <label for="medium" class="form-check-label">Средняя</label>
            <input type="radio" id="medium" name="size">
        </div>

        <div class="form-check">
            <label for="small" class="form-check-label">Маленькая</label>
            <input type="radio" id="small" name="size">
        </div>
    </fieldset>
    <input type="checkbox" id="checkbox">
    <label for="checkbox" class="form-check-label">Хочу жить у моря!</label>

    <div>
        <input type="submit" value="Найти!" class="btn btn-success btn-find">
    </div>
</form>